body {
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
    background-color: rgb(163, 220, 170);
}
header {
    margin: 50px;
    margin-left: 0;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
nav {
    border: 2px solid green;
    border-radius: 6px;
    padding: 4px;
}

.project img {
    border-radius: 3px;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
    margin: 3px;
    transition: 250ms;
    margin: 25px;
}
.project img:hover {
    width: 210px;
    height: 210px;
}
.project {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project a {
    margin-top: 20px;
}
:link {
    color: black;
}
