* {
    box-sizing: border-box;
}

.header {
    background-color: rgb(255, 152, 25);
    overflow: hidden;
    padding: 20px;
}
.logo {
    width: 15%;
    height: 15%;
    float: left;
}

.menu {
    width: 30px;
    height: 30px;
    float: right;
}

.top {
    position: relative;
}
.spicedimg {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.welcome {
    position: absolute;
    top: 20%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
}

.getstart {
    position: absolute;
    top: 30%;
    color: rgb(207, 117, 0);
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    background-color: rgb(255, 196, 70);

    border: 3px solid rgb(207, 117, 0);
    text-align: center;
    border-radius: 30px;
    padding: 10px;
}
.sections {
    position: relative;
    text-align: center;
    padding: 30px;

    background-color: rgb(163, 162, 162);
}

.section {
    display: inline-block;
    text-align: left;
    width: 40%;
    height: 40%;
    padding: 1%;
}

.lg {
    width: 50px;
    height: 50px;
}
