* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
}
header {
    background-color: orange;
    height: 70px;
}

main {
    flex-grow: 1;
    background-color: darkgrey;
}

footer {
    background-color: pink;
    height: 30px;
}
