<header><h1>S. Altavista</h1>
    <h2>Projects</h2>
    <p>Developed during the Spiced Accademy Bootcamp 2022</p>
</header>
<div class="projects">
{{#projects}}
    {{> projectList launch=false}}
{{/projects}}
    </div>